<?xml version="1.0"?>
<xacro:sdf version="1.10" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- ===== Global wall properties ===== -->

  <!-- <xacro:property name="wall_height" value="4.0" /> -->
   
  <xacro:property name="wall_thickness" value="0.5" />
  <xacro:property name="wall_color" value="0 0 1 1" />

  <!-- ===== Macro for a wall ===== -->
  <xacro:macro name="wall" params="name pose length wall_height:=4.0">

    <model name="${name}">
      <static>true</static>
      <pose>${pose}</pose>
      <link name="link">

        <!-- Visual -->
        <visual name="visual">
          <geometry>
            <box>
              <size>${wall_thickness} ${length} ${wall_height}</size>
            </box>
          </geometry>
          <material>
            <ambient>${wall_color}</ambient>
            <diffuse>${wall_color}</diffuse>
            <specular>0.2 0.2 0.2 1</specular>
          </material>
        </visual>

        <!-- Collision -->
        <collision name="collision">
          <geometry>
            <box>
              <size>${wall_thickness} ${length} ${wall_height}</size>
            </box>
          </geometry>
        </collision>

      </link>
    </model>
  </xacro:macro>

</xacro:sdf>